@import "./theme.css";
@import "./sections/header.css";
@import "./sections/about-me.css";
@import "./sections/footer.css";
@import "./sections/projects.css";
@import "./sections/skill.css";

* {
  box-sizing: border-box;
}

:root {
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  margin: 0 auto;
  max-width: 1536px;
  padding: 0 2rem;
}
