/*=================
Media Queries 
===============*/

/*=================
Desktop
===============*/

@media (max-width: 1536px) {
  .container {
    max-width: 1440px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1028px;
  }
}

/*=================
Tablet & small laptops
===============*/

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  /** header **/
  .header__container {
    flex-direction: column;
  }

  .header__column--left {
    flex-direction: column;
    align-items: center;
  }

  .header__content--left {
    align-items: center;

    & p {
      text-align: center;
      max-width: 320px;
    }
  }

  .header__column--right {
    align-items: center;
    text-align: center;
  }
}

/*=================
Phone
===============*/
@media (max-width: 640px) {
  :root {
    font-size: 14px;
    line-height: 16px;
  }

  .container {
    max-width: 475px;
    padding: 0 1rem;
  }

  /* Header */

  header {
    margin-top: 20px;
  }

  .header__badge-container {
    flex-direction: column;
  }
}
